body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#main {
    text-align: center;
}

.answer {
    background-color: blue;
    border-radius: 5px;
    margin: 3px 0 3px 0;
}

.title {
    background-color: red;
    border-radius: 5px;
    margin: 3px 0 3px 0;
}